{% extends 'admin/layout.html' %}

{% block content %}

    <div class="post">
        <a href="{{ post.url }}" target="_blank">preview</a>
        <button class="js-save">save</button>
        <button class="js-delete">delete</button>
        <input type="text" placeholder="published at" value="{{ post.published_at }}" class="title"/>
        category:
        <select name="category">
            {% for cat in categories %}
                {% if cat.slug == post.category.slug %}
                    <option value="{{ cat.slug }}" selected>{{ cat.name }}</option>
                {% else %}
                    <option value="{{ cat.slug }}">{{ cat.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input id="draft" name="draft" type="checkbox" value="draft" {% if post.draft %} checked {% endif %}/>
        <label for="draft">Draft</label>
        <input type="text" placeholder="title" value="{{ post.title }}" name="title"/>
        <textarea>{{ post.plain }}</textarea>
    </div>

{% endblock %}


{% block scripts %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
    <script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
    <script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>

    <script>
        $(function() {
            // grabs first textarea
            var editor = new Editor();
            editor.render();

            $('.js-save').on('click', function() {
                var data = {
                    title: $('[name=title]').val(),
                    body: editor.codemirror.getValue(),
                    category: $('[name=category]').val(),
                    draft: $('[name=draft]').is(':checked')
                }

                if (!data['title']) {
                    alert('enter a title');
                    return
                }

                $.ajax({
                    url: '/control/{{ post.category.slug }}/{{ post.slug }}',
                    type: 'PUT',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(d) {
                        if (d['url']) {
                            window.location.href = d['url'];
                        }
                    },
                    error: function(jqxhr, textStatus, err) {
                        console.log('error');
                    }
                });
            });

            $('.js-delete').on('click', function() {
                $.ajax({
                    url: '/control/{{ post.category.slug }}/{{ post.slug }}',
                    type: 'DELETE',
                    success: function(d) {
                        window.location.href = '/control/{{ post.category.slug }}'
                    },
                    error: function(jqxhr, textStatus, err) {
                        console.log('error');
                    }
                });
            });
        })
    </script>
{% endblock %}
