{% extends 'admin/layout.html' %}

{% block content %}

    <input type="text" name="category" placeholder="category name"> <button class="js-new-category">new category</button>

    <h2>categories</h2>
    <ul class="posts">
        <li><a href="/control/pages">pages</a></li>
        {% for cat in categories %}
            <li><a href="/control/{{ cat.slug }}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}


{% block scripts %}
    <script>
        $(function() {
            $('.js-new-category').on('click', function() {
                var data = {
                    category: $('[name=category]').val()
                };

                if (!data['category']) {
                    alert('enter a category name');
                    return
                }

                $.ajax({
                    url: '/control/',
                    type: 'POST',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function(d) {
                        // lazy
                        location.reload();
                    },
                    error: function(jqxhr, textStatus, err) {
                        alert(err);
                    }
                });
            });
        });
    </script>
{% endblock %}
