html, body {
    background: #fefefe;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #222;
}

main {
    padding: 2em;
    max-width: 720px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1 a,
h1 a:visited {
    color: #222;
    text-decoration: none;
}
h2 {
    margin-top: 4em;
}
h3 {
    margin-top: 2em;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
}
header a,
header a:visited {
    color: #ccc;
    text-decoration: none;
}

.post:not(:first-child) {
    margin-top: 8em;
    padding-top: 5em;
    border-top: 6px solid #eee;
}

.pagination {
    margin: 4em 0;
    overflow: hidden;
}
.prev-page {
    float: left;
}
.next-page {
    float: right;
}

.error {
    text-align: center;
    margin: 4em;
}

table {
  padding: 0;
  display: block;
  max-width: 100%;
  border-collapse: collapse;
  overflow-x: scroll; }

table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }

table tr:nth-child(2n) {
  background-color: #f4f4f4; }

table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }

table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }

table tr th :first-child, table tr td :first-child {
  margin-top: 0; }

table tr th :last-child, table tr td :last-child {
  margin-bottom: 0; }

