{% macro render_post(post) -%}
    <div class="post">
        <h1><a href="{{ post.url }}">{{ post.title_html|safe }}</a></h1>
        <h6>Published on {{ post.published_at.strftime('%m.%d.%Y') }} in [<a href="{{ post.category.url }}">{{ post.category.name }}</a>]</h6>
        {{ post.html|safe }}
    </div>
{%- endmacro %}

{% macro render_page(page) -%}
    <div class="page">
        <h1><a href="{{ page.url }}">{{ page.title_html|safe }}</a></h1>
        {{ page.html|safe }}
    </div>
{%- endmacro %}

{% macro pagination(page) -%}
    <div class="pagination">
        {% if page.prev %}
            <div class="prev-page"><a href="{{ page.prev }}">Previous Page</a></div>
        {% endif %}

        {% if page.next %}
            <div class="next-page"><a href="{{ page.next }}">Next Page</a></div>
        {% endif %}
{%- endmacro %}
