{% import "_macros.html" as macros %}
{% extends 'layout.html' %}

{% macro render_search_result(post) -%}
    <div class="post">
        <h1><a href="{{ post.url }}">{{ post.title_html|safe }}</a></h1>
        <h6>Published on {{ post.published_at.strftime('%m.%d.%Y') }} in [<a href="{{ post.category.url }}">{{ post.category.name }}</a>]</h6>
        {{ post.search_highlight|safe }}
    </div>
{%- endmacro %}

{% block content %}

    <main role="main">
        <h3>Search Results</h3>
        {% for post in posts %}
            {{ render_search_result(post) }}
        {% endfor %}

        {{ macros.pagination(page, last_page) }}
    </main>

{% endblock %}
