{% macro render_post(post) -%}
    <div class="post">
        <h1><a href="{{ post.url }}">{{ post.title_html|safe }}</a></h1>
        <h6>Published on {{ post.published_at.strftime('%m.%d.%Y') }} in [<a href="{{ post.category.url }}">{{ post.category.name }}</a>]</h6>
        {{ post.html|safe }}
    </div>
{%- endmacro %}

{% macro pagination(page, last_page) -%}
    <div class="pagination">
        {% if page > 1 %}
            <div class="prev-page"><a href="?p={{ page - 1}}">Previous Page</a></div>
        {% endif %}

        {% if page < last_page %}
            <div class="next-page"><a href="?p={{ page + 1 }}">Next Page</a></div>
        {% endif %}
{%- endmacro %}
